/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
  }

  html,
  body {
    @apply w-full h-full overflow-x-hidden;
  }

  body {
    @apply min-h-screen;
  }

  body {
    @apply dark:bg-darker-blue dark:text-white bg-light-gray text-very-dark-blue;
  }
}
